doctype html
html
    head
        title= title + " | Members Only"
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header 
            h1 ALA Members Only
            nav 
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/user/sign-up") Sign Up
                    li
                        a(href="/user/log-in") Log In
            span.logout 
                a(href="/user/log-out") Logout
        main
            block content
        footer 
            p Made by 
                a(href="https://github.com/Meeran-Tofiq") Meeran Tofiq
