extends layout 

block content 
    form(action="", method="post") 
        label(for="title")
        input#title(name="title" placeholder="Title of the message..." type="text" value=(message ? message.title : "")) 

        label(for="content") 
        input#content(type="text" name="content" placeholder="Write your message here..." value=(message ? message.content : ""))

        button Submit 
    if errors
        ul
            for error in errors
                li!= error.msg