extends layout 

block content 
    h1 Sign Up
    form(action="" method="POST")
        label(for="first-name") First Name: 
        input#first-name(type="text" name="firstName")

        label(for="last-name") Last Name: 
        input#last-name(type="text" name="lastName")

        label(for="username") Username
        input#username(name="username" placeholder="username" type="text")

        label(for="password") Password
        input#password(name="password" type="password")

        label(for="password-confirm") Password
        input#password-confirm(type="password" name="passwordConfirm")
        button Sign Up